.authPage {
  margin: 0 auto;
  text-align: center;
}

.authPage_form_block {
  text-align: center;
}

.authPage_form_block form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20rem;
}

.authPage_form_email_block {
  width: 100%;
  border-radius: 12px;
  background: #f8f8f8;
}

.authPage_form_email_block :nth-child(1) {
  width: 90%;
}

.authPage_form_email_block img {
  width: 21.33px;
  height: 14.85px;
}
